## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [ ]:
#Import package
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/imdb_data.csv'
imdb_df=pd.read_csv(file_path)
imdb_df.drop('id',axis = 1,inplace= True)

Mounted at /content/drive

In [ ]:
imdb_df.rename(columns= {'original_title':'movies'})

In [ ]:
imdb_no_na = imdb_df[~imdb_df['cast'].isna()]

In [ ]:
imdb_no_na['cast']

In [ ]:
imdb_df['cast_list'] = imdb_no_na.apply(lambda s : eval(s['cast']),axis = 1)

In [ ]:
def actor_of_title(rep_of_cast) :
  actors = []
  try :
   for elem in rep_of_cast :
     if elem['gender'] == 2 :
      actors.append(elem['name'])   
   return actors  
  except :
    return []

In [ ]:
imdb_df['actors'] = imdb_df.apply(lambda s : actor_of_title(s['cast_list']),axis = 1)

In [ ]:
imdb_no_na_genres = imdb_df[~imdb_df['genres'].isna()]
imdb_df['genre'] = imdb_no_na_genres.apply(lambda s : eval(s['genres']),axis = 1)

In [ ]:
imdb_df.head(1)

In [ ]:
imdb_df.loc[imdb_df['budget']<=1000,'budget'] = imdb_df.loc[imdb_df['budget'] >=1000,'budget'].median()
imdb_df.loc[imdb_df['revenue']<=1000,'revenue'] = imdb_df.loc[imdb_df['revenue'] >=1000,'revenue'].median()
imdb_df['profit'] = imdb_df['revenue'] - imdb_df['budget']

In [ ]:
imdb_df['crew_list'] = imdb_df[~imdb_df['crew'].isna()].apply(lambda s : eval(s['crew']),axis = 1)

In [ ]:
#1st question

In [ ]:
max_profit_row = imdb_df[imdb_df['profit'] == imdb_df['profit'].max()]

In [ ]:
imdb_df['roi'] = 100*(imdb_df['profit']/imdb_df['budget'])

In [ ]:
def genre_list_by_row(genre_string) :

 genre_list = []
 try :
  for elem in genre_string :
    genre_list.append(elem['name'])
  return genre_list  
 except :
     print("[]'")

In [ ]:
imdb_df['genres_by_list'] = imdb_df.apply(lambda s : genre_list_by_row(s['genre']),axis = 1 )

[]'
[]'
[]'
[]'
[]'
[]'
[]'

In [ ]:
genre_to_actor = []
movies_to_actor = []
earning = []
for index,row in imdb_df.iterrows() :
  for elem in imdb_df.loc[index]['actors'] :
      if elem == 'Robert De Niro' :
        genre_to_actor.append(imdb_df.loc[index]['genres_by_list'])
        earning.append(imdb_df.loc[index]['profit'])
        movies_to_actor.append(imdb_df.loc[index]['original_title'])

In [ ]:
pd.DataFrame(genre_to_actor,columns= ['G0','G1','G2','G3','G4'])

In [ ]:
sum(earning)

802612528

In [ ]:
imdb_df['crew_list'] = imdb_df[~imdb_df['crew'].isna()].apply(lambda s : eval(s['crew']),axis = 1)

In [ ]:
imdb_df['crew_list'] = imdb_df['crew_list'] .dropna()

In [ ]:
def directors_to_list(crews_list) : 
  directors_list = []
  producers_list = []
  try :
     for elem in crews_list :
       if elem['job'] == 'Director' :
         directors_list.append(elem['name'])  
       if elem['job'] == 'Producer' :
         producers_list.append(elem['name'])
     return directors_list ,producers_list
  except :
    print(index)

In [ ]:
imdb_df[['director','producer']] = imdb_df.apply(lambda s : directors_to_list(s['crew_list']),axis = 1,result_type='expand')

2999
2999
2999
2999
2999
2999
2999
2999
2999
2999
2999
2999
2999
2999
2999
2999

In [ ]:
director_dict = {}
try:
 for index,row in imdb_df.iterrows() :
   for director in row['director'] :
     if director not in director_dict.keys() :
       director_dict[director] = [row['roi']]
except :
  print([])

[]

In [ ]:
director_df = pd.DataFrame.from_dict(director_dict,columns=['roi'],orient='index')

In [ ]:
director_df.sort_values(by=['roi'],ascending = False)

                                 roi
John G. Avildsen        11623.514700
Kevin Smith             11570.851852
Shane Carruth            5968.000000
Mike Newell              4145.013867
Stevan Filipoviƒá        3397.506200
...                              ...
Lancelot Oduwa Imasuen    -99.956407
Erik Matti                -99.956407
Bill Plympton             -99.956407
R.D. Robb                 -99.961720
Jesse V. Johnson          -99.991070

[489 rows x 1 columns]

In [ ]:
# Your code here 
john_fav_actor = []
john_fav_actor_roi = []
kevin_fav_actor = []
kevin_fav_actor_roi = []
shane_fav_actor = []
shane_fav_actor_roi = []
try :
 for index,row in imdb_df.iterrows() :
     for elem in row['director'] :
       if elem == 'John G. Avildsen' :
         john_fav_actor.append(row['actors'])
         john_fav_actor_roi.append(row['roi'])
       if elem == 'Kevin Smith' :
         kevin_fav_actor.append(row['actors'])
         kevin_fav_actor_roi.append(row['roi'])
       if elem == 'Shane Carruth' :
         shane_fav_actor.append(row['actors'])
         shane_fav_actor_roi.append(row['roi'])

except :
  print([])

[]

In [ ]:
john_fav_actor[0],max(john_fav_actor_roi)

(['Sylvester Stallone',
  'Burt Young',
  'Burgess Meredith',
  'Thayer David',
  'Joe Spinell',
  'Tony Burton',
  'Joe Frazier',
  'Stan Shaw',
  'Michael Dorn',
  'Bill Baldwin',
  'Lloyd Kaufman',
  'Al Silvani',
  'Larry Carroll',
  'Frank Stallone',
  'Simmy Bow',
  'Frank Pesce',
  'John Pleshette',
  'Pedro Lovell',
  'Stu Nahan',
  'Arnold Johnson'],
 11623.5147)

In [ ]:
kevin_fav_actor,kevin_fav_actor_roi

([["Brian O'Halloran",
   'Jeff Anderson',
   'Jason Mewes',
   'Kevin Smith',
   'Scott Mosier',
   'Walt Flanagan',
   'David Klein']],
 [11570.851851851852])

In [ ]:
shane_fav_actor,shane_fav_actor_roi

([['Shane Carruth', 'David Sullivan', 'David Joyner']], [5968.0])

In [ ]:
imdb_df

In [ ]:
imdb_df.loc[imdb_df['profit']==imdb_df['profit'].max()]['producer']

1761    [Vin Diesel, Neal H. Moritz, Michael Fottrell,...
Name: producer, dtype: object

In [ ]:
imdb_df.loc[1761]['director']

['James Wan']

In [ ]:
imdb_df.loc[1761]['producer']

['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']

In [ ]:
imdb_df.loc[1761]['actors']

['Vin Diesel',
 'Paul Walker',
 'Dwayne Johnson',
 'Tyrese Gibson',
 'Ludacris',
 'Djimon Hounsou',
 'Tony Jaa',
 'Kurt Russell',
 'Jason Statham',
 'Sung Kang',
 'Lucas Black',
 'Noel Gugliemi',
 'John Brotherton',
 'Luke Evans',
 'Ali Fazal',
 'Gentry White',
 'Steve Coulter',
 'Brian Mahoney',
 'Tego Calder√≥n',
 'Cody Walker']

In [ ]:
imdb_df.head(4)

                               belongs_to_collection  ...                                           producer
0  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...                                     [Andrew Panay]
1  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  [Whitney Houston, Mario Iscovich, Debra Martin...
2                                                NaN  ...  [David Lancaster, Michel Litvak, Jason Blum, H...
3                                                NaN  ...                                      [Sujoy Ghosh]

[4 rows x 31 columns]

In [ ]:
producers_dict ={}
movie_dict = {}

try :
 for index,row in imdb_df.iterrows() :
   #print(row['producer'])
   for producer in row['producer'] :
     if producer not in producers_dict.keys() :
       #add producer and roi to him
       producers_dict[producer] = [row['roi']]
       movie_dict[producer] = [row['original_title']]
     else :
       #update value of producer one's set
       value = producers_dict[producer]
       value.append(row['roi'])
       producers_dict[producer] = value
except :
  print(index)

470

In [ ]:
producers_dict

In [ ]:
imdb_df.groupby(by=['original_language'],).agg({'roi':'mean'}).sort_values(by=['roi'] ,ascending = False)

                            roi
original_language
ko                 11277.949295
el                  5198.013245
sr                  3397.506200
en                   929.987781
tr                   558.596201
de                   510.347257
he                   456.292450
te                   440.076812
pl                   395.816987
ml                   370.833333
ur                   350.673773
zh                   309.093227
hi                   249.618424
mr                   193.333333
ta                   159.258448
ja                   122.763087
ru                   115.160185
es                   103.433478
cn                    86.002479
fr                    51.900020
sv                    25.853172
da                    24.702661
no                    24.155275
it                    22.136747
nb                    18.847943
fa                     3.235168
nl                   -24.142008
pt                   -29.291459
fi                   -30.319235
id                   -41.617578
vi                   -50.846154
ro                   -62.182109
ar                   -91.807009
hu                   -95.535384
bn                   -96.739429
cs                   -99.894267